body {
    font-family: source sans pro;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eee;
    color: #353535;
}

a {
    text-decoration: underline;
    color: #222;
}

a:hover {
    text-decoration: none;
}

.inner {
    width: 80%;
    margin: 0 auto;
    padding: 50px 10%;
}

.header {
    background: #fff;
    padding: 5% 10%;
}

.header .college_name {
    font-family: "arvo";
    font-weight: bold;
    font-size: 38px;
}

.description_wrap {
    float: left;
    max-width: 600px;
    width: 63%;
}

.occ_name {
    font-size: 24px;
    font-weight: bold;
}

i {
    margin-right: 7px;
}

.related_wrap {
    float: right;
    width: 33%;
    max-width: 300px;
    margin-top: 25px;
}

.btn {
    padding: 10px 15px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(10,10,10,0.25);
    background: #4bd;
    color: #fff;
    cursor: pointer;
    margin: 0 0 15px;
    display: inline-block;
}

.btn:active {
    border-top: 2px solid rgba(10,10,10,0.25);
    border-bottom:0;
}

.earnings_wrap {
    clear: both;
    margin: 50px 0;
    display: inline-block;
}

.occ_earn {
    font-size: 32px;
    font-weight: bold;
}

.data {
    color: #4bd;
}